@model DHungBooks.Models.Book

@{
    ViewData["Title"] = "Thông tin sản phẩm" + Model.BookName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Books" asp-action="Index">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Thông tin: @Model.BookName</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin sản phẩm</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.BookId</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.BookName</td>
                    </tr>
                    <tr>
                        <td>Mô tả ngắn:</td>
                        <td>@Model.ShortDesc</td>
                    </tr>
                    <tr>
                        <td>Giá bán:</td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td>Giảm giá:</td>
                        <td>@Model.Discount</td>
                    </tr>
                    <tr>
                        <td>Active: </td>
                        <td>
                            @if (Model.Active)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="">
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-2">
                                    <label for="switch-2"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Best seller: </td>
                        <td>
                            @if (Model.BestSellers)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="">
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-2">
                                    <label for="switch-2"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Home flag: </td>
                        <td>
                            @if (Model.HomeFlag)
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-1" checked="">
                                    <label for="switch-1"></label>
                                </div>
                            }
                            else
                            {
                                <div class="switch m-r-10">
                                    <input type="checkbox" id="switch-2">
                                    <label for="switch-2"></label>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Danh mục</td>
                        <td>@Model.Ca.CaName</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.DateCreated</td>
                    </tr>
                    <tr>
                        <td>Ngày chỉnh sửa:</td>
                        <td>@Model.DateModified</td>
                    </tr>
                    <tr>
                        <td>Tiêu đề:</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Meta Description:</td>
                        <td>@Model.MetaDesc</td>
                    </tr>
                    <tr>
                        <td>Meta Key</td>
                        <td>@Model.MetaKey</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>Ảnh</td>
                        <td>
                            <img width="200" height="200" src="~/images/Book/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    </tr>

                    </tr>
                    <tr>
                        <td>Mô tả: </td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Xác nhận xóa </td>
                        <td>
                            <form asp-asp-controller="AdminProducts_63135901" asp-action="Delete" asp-asp-route-id="@Model.BookId">
                                <input type="hidden" asp-for="BookId" />
                                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>







