@model IEnumerable<DHungBooks.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <h2 class="header-title">Vai trò</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a class="breadcrumb-item" href="#">Tables</a>
            <a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="breadcrumb-item">
                <i class="breadcrumb-item active"></i>Vai trò
            </a>
            
        </nav>
    </div>
</div>

<h1>Vai trò</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Vai trò
            </th>
            <th>
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleId" class="btn btn-warning btn-tone m-r-5">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.RoleId" class="btn btn-info btn-tone m-r-5">Xem</a> 
                    <a asp-action="Delete" asp-route-id="@item.RoleId" class="btn btn-danger btn-tone m-r-5">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
